:root {
  --primary: #6367FF;
  --secondary: #8494FF;
  --soft: #C9BEFF;
  --accent: #FFDBFD;

  --bg: #ffffff;
  --text: #1a1a1a;
  --card-bg: #ffffff;
  --filter: invert(0);
}

[data-theme="dark"] {
  --primary: #476EAE;
  --secondary: #48B3AF;
  --soft: #A7E399;
  --accent: #F6FF99;

  --bg: #0f172a;
  --text: #f4f6f8;
  --card-bg: #1e293b;
  --filter: invert(1);
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

.card {
  background-color: var(--card-bg);
  border-radius: 15px;
  transition: 0.3s;
  color: var(--text);
}

.card:hover {
  transform: translateY(-5px);
}

/* TESTIMONIAL */
[data-theme="dark"] .bg-white {
  background-color: var(--card-bg) !important;
  color: var(--text) !important;
}

.btn-primary-custom {
  background-color: var(--primary);
  border: none;
  color: white;
}

.btn-primary-custom:hover {
  background-color: var(--secondary);
}

.company-marquee {
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.marquee-inner {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.company-logo {
  height: 60px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
  transition: transform 0.3s ease;
}

.company-logo:hover {
  transform: scale(1.1);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.theme-toggle {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 2px solid var(--primary);
}

.toggle-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.toggle-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
  top: 2px;
  transition: all 0.3s ease;
}

.thumb-dark {
  left: 0px;
}

.thumb-light {
  left: 33px;
}

.navbar-toggler-icon {
  filter: var(--filter);
}

/* NORMAL TEXT */
.hero-title {
  transition: 0.3s ease;
}

.hero-subtitle {
  transition: 0.3s ease;
}

/* DARK MODE NEON EFFECT */
[data-theme="dark"] .hero-title {
  color: var(--accent);
  text-shadow: 
    0 0 200px var(--primary),
    0 0 100px var(--accent);
    
}

[data-theme="dark"] .hero-subtitle {
  color: var(--soft);
  text-shadow: 
    0 0 50px var(--primary),
    0 0 1px var(--accent);
}

/* OFFCANVAS THEME*/
.offcanvas {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

[data-theme="dark"] .offcanvas-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.offcanvas .nav-link {
  color: var(--text) !important;
}

.offcanvas .nav-link:hover {
  color: var(--primary) !important;
}

.offcanvas .dropdown-menu {
  background-color: var(--card-bg);
  border: none;
}

.offcanvas .dropdown-item {
  color: var(--text);
}

.offcanvas .dropdown-item:hover {
  background-color: var(--primary);
  color: white;
}

/* CLOSE BUTTON*/
.btn-close {
  filter: var(--filter);
}


html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
      background: #000;
    }

    .swiper-slide {
      font-size: 18px;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }

    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }

    .swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }

    .swiper-slide .subtitle {
      font-size: 21px;
    }

    .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }

    /* Sidebar link hover */
    .sidebar-link {
      transition: background 0.3s, padding-left 0.3s;
      border-radius: 50px; /* pill shape */
      margin-right: -30px;

    }
    .sidebar-link:hover {
      background: rgba(255, 255, 255, 0.2);
      padding-left: 12px;
      margin-right: -35px;

    }
    .sidebar-link.active {
      background: rgba(255, 255, 255, 0.963);
      border-radius: 50px;
      color: rgb(36, 0, 134) !important;
      margin-right: -35px;
    }

    .hover-btn {
      transition: all 0.3s ease;
    }
    .hover-btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }